/* BANNER-PRINCIPAL*/
.fondo{
    width: 100%;
    position: absolute;
}
.screen-button a{
    text-decoration: none;
    color: #960018;
    display: inline-block;
}
.banner-container{
    background-image: url(../assets/img/fondos/fondo.png);
    background-size: cover;
    height: auto;
}
.texto-fondo-principal{
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
    height: 100%;
    align-items: start;
    padding:  50px 100px;
    justify-content: center;
}
.screen-logo{
    width: 250px;
}
.screen-texto h1{
    width: auto;
    font-size: 100px;
    margin-bottom: 30px;
    font-family: bebas-neue;
}
.screen-texto p{
    width: 100%;
    font-size: 60px;
    font-family: lobster;
}
.screen-button{
    display: flex;
    gap: 90px;
}
.screen-button p{
    width: 400px;
    font-size: 50px;
    margin: auto;
    font-family: bebas-neue;
}
.screen-button a {
    padding: 10px 30px;
    margin: auto;
    font-size: 40px;
    border: 2px solid #960018;
    border-radius: 10px;
    border-color: #960018;
    background-color: #FAF4E3;
    font-family: bebas-neue;
}

                    /*FLEX PRINCIPAL CONTAINER*/
.flex-container-principal{
    display: flex;
    width: 80%;
    margin: 25px auto;
    border-radius: 25px;
    border: 5px solid #000;
}

.menu-principal-container{
    background-color: #FAF4E3;
    display: flex;
    padding: 15px;
    gap: 15px;
    border-top-right-radius: 19px;
    border-bottom-right-radius: 19px;
}

.menu-principal{
    display: inline-block;
}

.menu-principal-container h3{
    font-family: lobster;
    font-size: 40px;
    margin: 10px;
    color: #000;
}

.paty-gusto-nombre-principal{
    text-decoration: underline;
    font-family: bebas-neue;
    font-size: 30px;
    margin-bottom: 0px;
    color: #000;
}

.paty-gusto-descripcion-principal{
    margin-bottom: 12px;
    color: #000;
    text-wrap: pretty;
    font-size: 18px;
}

.promo-1, .promo-2{
    height: 100%;
    width: 100%;
}
.grid-1{
    width: 700px;
    background-image: url(../assets/img/fondos/fondo-menu-4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 30% 70%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.grid-2{
    grid-area: grid-2;
}

.container-carrusel-home{
    width: 450px;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.6);
    overflow: hidden;
    position: relative;
    margin: auto;
}
.carruseles-promo{
    width: 200%;
    height: 100%;
    display: flex;
}
.slider-section-carrusel-promo{
    width: calc(100% / 2);
    height: 100%;
}
.slider-section-carrusel-promo img{
    width: 100%;
    height: 100%;
    object-fit: fill;
}
.btn-izquierda,
.btn-derecha{
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    top: 50%;
    transform: translate(0,50%);
    transition: .5s ease;
    transition: color .2s ease;
    width: 35px;
    background-color: transparent;
    color: #FAF4E3;
    border:none;
}
.btn-izquierda:hover,
.btn-derecha:hover{
    color: #960018;
}
.btn-derecha{
    right: 10px;
}
.btn-izquierda{
    left: 10px;
}

.carrucel-home{
    width: 100%;
    height: 275px;
    margin-top: 20px;
    background-color: #fff;
}
                                    /* REVIEW-SECTION */
.review-container{
    width: 70%;
    margin: 30px auto;
    background-color: #FAF4E3;
    border: 5px solid #000;
    border-radius: 20px;
}
.review-container h2 {
    text-align: center;
    padding: 15px;
    font-size: 60px;
    font-family: lobster;
}
.review-subtitulo{
    font-size: 20px;
    text-align: center;
}
.carrucel-home-container{
    width: 100%;
    height: 100%;
    background-color: #FAF4E3;
    overflow: hidden;
    position: relative;
    border-radius: 20px;
}
#carrucel-reviews{
    width: 600%;
    height: 100%;
    display: flex;
}
.review{
    width: calc(100%/6);
    height: 300px;
    display: flex;  
    gap: 30px;
    padding: 50px;
    justify-content: center;
}
.review img{
    height: 100%;
    object-fit: cover; 
    border-radius: 50%;
    width: 200px;
}
.review-texto-container{
    display: flex;
    gap: 15px;
    flex-direction: column;
}
.review-usuario{
    text-align: center;
    font-family: lobster;
    font-size: 30px;
}
.review-paty{
    text-align: center;
    text-wrap: pretty;
}
.link-review{
    display: flex;
    gap: 15px;
    justify-content: center;
    text-align: center;
    text-overflow: pretty;
}
.link-review p {
    font-family: lobster;
    font-size: 25px;
    color: #000;
}
.link-review a{
    font-family: lobster;
    color: #960018;
    font-size: 25px;
    background-color: #FAF4E3;
    border-radius: 10px;
}
.review-texto{
    width: 500px;
    text-align: center;
}
.btn-izquierda-review,
.btn-derecha-review{
    display: flex;
    position: absolute;
    top: 40%;
    cursor: pointer;
    transition: .5s ease;
    transition: color .2s ease;
    user-select: none;
    width: 40px;
    justify-content: center;
    background-color: transparent;
    color: #960018;
    border:none;
}
.btn-izquierda-review:hover,
.btn-derecha-review:hover{
    color: #000;
}
.btn-derecha-review{
    right: 50px;
}
.btn-izquierda-review{
    left: 50px;
}

                                /*CREACIONES-SECTION*/

.creaciones-container{
    background-image: url(../assets/img/fondos/promo1.png);
    background-size: cover;
    background-position: center;
    height: 600px;
    width: 70%;
    margin: auto;
    border: 5px solid #000;
    margin-bottom: 60px;
    border-radius: 20px;
}
.creaciones-texto-container{
    height: 100%;
    width: 400px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.creaciones-titulo{
    width: 400px;
    color: #960018;
    font-size: 60px;
    text-align: center;
    font-family: bebas-neue;
}
.creaciones-texto{
    width: 400px;
    color: #960018;
    font-size: 40px;
    text-align: center;
    font-family: lobster;
}
.creaciones-button{
    width: 200px;
    padding: 10px;
    margin: 10px auto;
    text-align: center;
    font-size: 25px;
    color: #fff;
    background-color: #960018;
    border-radius: 10px;
    font-family: lobster;
    transition: all 0.9s;
}
.creaciones-button:hover{
    color: #fff;
    background-color: #960018;
    width: 300px;
} 


@media screen and (max-width: 1700px) {
    
    .flex-container-principal{
        width: 95%;
    }
    .review-container {
        width: 95%;
    }
    .creaciones-container {
        width: 95%;
    }
}


@media screen and (max-width:1400px) {
        
    .texto-fondo-principal{
    gap: 25px;
    width: 60%;
    padding:  50px 80px;
    }
    .screen-logo{
    width: 250px;
    }
    .screen-texto h1{
    font-size: 90px;
    margin-bottom: 15px;
    }
    .screen-texto p{
    width: 100%;
    font-size: 50px;
    }
    .screen-button{
    gap: 80px;
    }
    .screen-button p{
    width: auto;
    font-size: 50px;
    text-align: center;
    margin: 0;
    }
    .screen-button a {
    padding: 5px 25px;
    font-size: 38px;
    }
    .menu-principal-container h3{
    margin: 5px;
    }

    .paty-gusto-descripcion-principal{
    font-size: 16px;
    }
    .container-carrusel-home{
    width: 400px;
    }

}

@media screen and (max-width:1200px) {

    .texto-fondo-principal{
    gap: 20px;
    padding:  50px 80px;
    width: auto;
    }
    .screen-logo{
    width: 190px;
    }
    .screen-texto h1{
    font-size: 80px;
    margin-bottom: 15px;
    }
    .screen-texto p{
    font-size: 40px;
    }
    .screen-button{
    gap: 70px;
    }
    .screen-button p{
    width: auto;
    font-size: 40px;
    text-align: center;
    margin: 0;
    }
    .screen-button a {
    padding: 5px 25px;
    font-size: 38px;
    }
    .menu-principal-container{
    flex-direction: column;
    gap: 0;
    }
    .grid-container-principal{
    gap: 15px;
    grid-template-columns: 400px;
    }
    .container-carrusel-home{
    width: 450px;
    margin: auto;
    }
    .menu-principal-container h3{
        text-align: center;
    }
    /*CREACIONES-SECTION*/
    .creaciones-container{
    height: 500px;
    }
    .creaciones-titulo{
    font-size: 50px;
    }
    .creaciones-texto{
    font-size: 33px;
    }

}

@media screen and (max-width:1050px) {

        /*BANNER-PRINCIPAL*/
    .banner-container{
    background-position: 50% 50%;
    }
    .texto-fondo-principal{
    gap: 40px;
    padding:  40px 80px;
    height: 800px;
    }
    .screen-logo{
    width: 230px;
    }
    .screen-texto h1{
    font-size: 70px;
    margin-bottom: 10px;
    }

    .grid-container-principal{
    grid-template-rows: auto 280px;
    gap: 10px;
    }
    .grid-1{
    width: 500px;
    background-position: 40% 60%;
    }
    /*Review Section*/
    .review-subtitulo{
    font-size: 20px;
    text-align: center;
    margin: 0 30px;
    text-wrap: pretty;

    }
    .review{
    height: auto;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    align-items: center;
    }
    .review img{
    height:200px;
    object-fit: cover; 
    border-radius: 50%;
    width: 200px;
    }
    /*CREACIONES-SECTION*/
    .creaciones-container{
    width: 95%;
    height: 450px;
    }
    .creaciones-titulo{
    font-size: 40px;
    }
    .creaciones-texto{
    font-size: 25px;
    }
}

@media screen and (max-width: 950px){
        /*BANNER-PRINCIPAL*/
    .texto-fondo-principal{
    padding:  40px 60px;
    }
    .grid-1{
    width: 400px;
    background-position: 50% 50%;
    }
}

@media screen and (max-width:800px){
                /*BANNER-PRINCIPAL*/
    .texto-fondo-principal{
    gap: 40px;
    padding:  40px 20px;
    height: 800px;
    }

    .grid-1{
    width: 300px;
    background-position: 55% 45%;
    }

                /*CREACIONES-SECTION*/
    .creaciones-container{
    background-image: url(../assets/img/fondos/promo1.png);
    background-size: cover;
    background-position: center;
    height: 390px;
    }
    .creaciones-titulo{
    font-size: 35px;
    }
    .creaciones-texto{
    font-size: 25px;
    }

}

@media screen and (max-width:640px){

            /*BANNER-PRINCIPAL*/
    .banner-container{
    background-position:60% 40%;
    }
    .texto-fondo-principal{
    gap: 40px;
    padding:  0;
    height: 750px;
    justify-content: start;
    }
    .screen-logo{
    margin: 30px;
    margin-top: 50px;
    width: 210px;
    }
    .screen-texto {
    display: none;
    }
    .screen-button{
    display: none;
    }

    .menu-principal-container{
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    }
    .grid-1{
    display: none;
    }
    .menu-principal-container h3{
        text-align: center;
        padding: 10px;
    }
    .paty-gusto-nombre-principal{
        text-align: center;
    }
    .paty-gusto-descripcion-principal{
        font-size: 18px;
        text-align: center;
    }
    .review-texto{
    width: 90%;
    text-align: center;
    margin: auto;
    }
            /* Review-Section */
    .review-container {
    width: 95%;
    }
    .link-review{
    flex-direction: column;
    gap: 0;
    align-items: center;
    }

                /*CREACIONES-SECTION*/
    .creaciones-container{
    background-position: 100% 0%;
    height: 545px;
    display: flex;
    justify-content: start;
    }
    .circulo-creaciones{
    background-color: #000;
    height: 40%;
    position: relative;
    top: 0px;
    left: 0px;
    border-bottom-right-radius: 90%;
    border-top-left-radius: 14px;
    padding: 10px;
    border: 10px solid #960018;
    box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.4);
    }
    .creaciones-texto-container{
    height: 545px;
    width: 70%;
    margin: 0;
    display: block;
    position: absolute;
    }
    .creaciones-titulo{
    width: 100%;
    color: #FAF4E3;
    font-size: 38px;
    text-align: start;
    margin-bottom: 0;
    }
    .creaciones-texto{
    margin-left: 10px;
    width: auto;
    color: #FAF4E3;
    font-size: 28px;
    text-align: start;
    }
    .creaciones-button{
    height: auto;
    width: auto;
    padding: 2% 20% 2% 20%;;
    margin:30px;
    color: #fff;
    background-color: #000;
    border: 5px solid #960018;
    border-radius: 20px;
    bottom: 10px;
    left: 0px;
    position: absolute;
    font-family: lobster;
    box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.8);
    } 
    .creaciones-button:hover{
        color: #fff;
        background-color: #960018;
        border: 5px solid #000;
        width: auto;
    } 
}

@media screen and (max-width:550px){
            /*BANNER-PRINCIPAL*/
    .banner-container{
    background-position:58% 42%;
    }
    .texto-fondo-principal{
    height: 700px;
    }
    .screen-logo{
    margin: 5px;
    margin-top: 50px;
    width: 190px;
    }
    .container-carrusel-home{
    width:auto;
    height: auto;
    }
        /*Review-Section */
    .review{
    height: 620px;
    gap: 50px;
    padding: 0;
    justify-content: center;
    }
    .btn-derecha-review{
    right: 20px;
    }
    .btn-izquierda-review{
    left: 20px;
    }
    .carne-principal-container h3, .pollo-principal-container h3{
        font-size: 35px;
    }
    .paty-gusto-descripcion-principal{
        font-size: 18px;
        text-align: center;
    }

        /*CREACIONES-SECTION*/

    .creaciones-container{
    background-position: 100% 0%;
    height: 455px;
    }
    .creaciones-titulo{
    width: auto;
    font-size: 38px;
    }
    .creaciones-texto{
    margin-left: 10px;
    width: auto;
    font-size: 28px;
    }
    .creaciones-texto-container{
    height: 455px;
    }
    .creaciones-titulo{
    font-size: 30px;
    }
    .creaciones-texto{
    margin-left: 5px;
    font-size: 25px;
    }
    .creaciones-button{
    font-size: 20px;
    text-align: start;
    } 
}

@media screen and (max-width:400px){
        /*BANNER-PRINCIPAL*/
    .banner-container{
    background-position:60% 40%;
    }
    .texto-fondo-principal{
    height: 600px;
    }
    .screen-logo{
    margin: 5px;
    margin-top: 60px;
    width: 170px;
    }
    .paty-gusto-nombre-principal{
        font-size: 25px;
    }
    /*Review-Section */
    .review-container h2 {
    font-size: 47px;
    }
    .review-subtitulo{
    font-size: 18px;
    text-align: center;
    margin: 0 10px;
    }
    .btn-derecha-review{
    right: 10px;
    }
    .btn-izquierda-review{
    left: 10px;
    }
    /*CREACIONES-SECTION*/
    .creaciones-container{
    background-position: 100% 0%;
    height: 420px;
    }
    .creaciones-texto-container{
    height: 420px;
    }
    .creaciones-titulo{
    font-size: 22px;
    margin-bottom: 5px;
    }
    .creaciones-texto{
    margin-left: 5px;
    font-size: 18px;
    }
    .creaciones-button{
    font-size: 20px;
    text-align: start;
    margin: 15px;
    } 
}

