*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: roboto ;
    font-weight: 400;
    /* border: 1px solid red; */
}
body{
    background-color: #960018;
}
a{
    text-decoration: none;
}
.swal2-input{
    width: 400px;
    font-family: bebas-neue;
    background-color: #FAF4E3;
}
.swal2-title{
    font-family: bebas-neue;
    font-size: 40px;
}
.swal2-confirm{
    background-color: #960018;
}
.swal2-cancel{
    background-color: #960018
}
.toastify{
    color: #960018;
}
/*NAV-BAR*/

header{
    position: fixed;
    top: 0px;
    z-index: 50;
    width: 100%;
}
.nav-bar-menu{
    background-color: #FAF4E3;
    height: 60px;
    opacity: 0.8;
}
.li-container-menu ul{
    height: 60px;
    width: 60%;
    display: flex;
    justify-content: center;
    margin: auto;
}
.nav-bar-li-menu{
    list-style: none;
    background-color: transparent;
    margin: auto;
    
}
.nav-bar-li-menu button{
    background-color: transparent;
    border: none;
}

.nav-bar-li-menu a{
    text-decoration: none;
    color: #960018;
    display: inline-block;
    font-family: lobster;
    font-size: 40px;
}
.nav-bar-li-menu a:hover{
    text-decoration:underline;
}

/*BANNER-PRINCIPAL*/
.fondo{
    width: 100%;
    position: absolute;
}
.screen-button a{
    text-decoration: none;
    color: #960018;
    display: inline-block;
}
.banner-container{
    background-image: url(../assets/img/fondos/fondo.png);
    background-size: cover;
    height: 900px;
}
.texto-fondo-principal{
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
    height: 100%;
    align-items: start;
    padding:  10px 100px;
    justify-content: center;
}
.screen-logo{
    width: 250px;
}
.screen-texto h1{
    width: 600px;
    font-size: 100px;
    margin-bottom: 30px;
    font-family: bebas-neue;
}
.screen-texto p{
    width: 100%;
    font-size: 60px;
    font-family: lobster;
}
.screen-button{
    display: flex;
    gap: 90px;
}
.screen-button p{
    width: 400px;
    font-size: 50px;
    margin: auto;
    font-family: bebas-neue;
}
.screen-button a {
    padding: 10px 30px;
    margin: auto;
    font-size: 40px;
    border: 2px solid #960018;
    border-radius: 10px;
    border-color: #960018;
    background-color: #FAF4E3;
    font-family: bebas-neue;
}

/*GRID PRINCIPAL CONTAINER*/
.grid-container-principal{
    display: grid;
    grid-template-columns: 400px;
    grid-template-rows: auto;
    grid-template-areas:
    "grid-1 grid-2";
    width: 80%;
    margin: 25px auto;
    gap: 20px;
}

.menu-principal-container{
    background-color: #FAF4E3;
    display: flex;
    padding: 15px;
    gap: 15px;
}

.menu-principal{
    display: inline-block;
}

.menu-principal-container h3{
    font-family: lobster;
    font-size: 35px;
    margin: 10px;
    color: #000;
}

.paty-gusto-nombre-principal{
    text-decoration: underline;
    font-family: bebas-neue;
    font-size: 20px;
    margin-bottom: 0px;
    color: #000;
}

.paty-gusto-descripcion-principal{
    margin-bottom: 0px;
    color: #000;
    text-wrap: pretty;
}

.promo-1, .promo-2{
    height: 100%;
    width: 100%;
}
.grid-1{
    width: 100%;
    grid-area: grid-1;
    background-image: url(../assets/img/nosotros/pexels-seyed-ali-hosseini-1226419-2331536.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 30% 70%;
}
.grid-2{
    grid-area: grid-2;
}

.container-carrusel-home{
    width: 500px;
    height: 350px;
    background-color: #000;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.40);
    overflow: hidden;
    position: relative;
    margin-top: 10px;
}
.carruseles-promo{
    width: 200%;
    height: 100%;
    display: flex;
    /* transform: translate(-50%); */
}
.slider-section-carrusel-promo{
    width: calc(100% / 2);
    height: 100%;
}
.slider-section-carrusel-promo img{
    width: 100%;
    height: 100%;
    object-fit: fill;
}
.btn-izquierda,
.btn-derecha{
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    top: 50%;
    background-color: #FAF4E3;
    border: 1px solid #960018;
    transform: translate(0,50%);
    transition: .5s ease;
    height: 50px;
    width: 35px;
}
.btn-derecha{
    right: 10px;
}
.btn-izquierda{
    left: 10px;
}
/*Cards-Patys*/
.card-paty{
    display: flex;
    width: 80%;
    margin: 50px auto;
    gap: 15px;
}
.card-paty-container{
    width: 240px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #FAF4E3;
    margin: auto;
    border: 1px solid #F4A300;
}
.card-paty-img-container{
    display: flex;
}
.card-paty-img{
    width: 235px;
    margin: auto;
}
.paty-nombre{
    text-align: center;
    font-family: bebas-neue;
    font-size: 25px;
}
.paty-precio-suma{
    display: flex;
    justify-content: space-around;
}
.paty-precio{
    font-family: lobster;
    font-size: 20px;
}
.paty-suma button{
    border-radius: 10px;
    border: 2px solid #960018;
    background-color: #FAF4E3;
    color: #960018;
    padding: 2px 9px;
}
.paty-suma .resto{
    padding: 2px 11px;
}
.carrucel-home{
    width: 100%;
    height: 275px;
    margin-top: 20px;
    background-color: #fff;
}
/* Review-Section */
.review-container{
    width: 70%;
    margin: 30px auto;
    background-color: #FAF4E3;
}
#carrucel-home-container{
    display: flex;
    
}
.review-container h2 {
    text-align: center;
    padding: 15px;
}
.review-container h2{
    font-size: 60px;
    font-family: lobster;
}
.review-subtitulo{
    font-size: 20px;
    text-align: center;
}
.review{
    width: 270px;
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px;
}
.review-img{
    width: 100%;
}
.review-usuario{
    text-align: center;
    padding:5px;
    font-size: 22px;
}
.review-paty{
    text-align: center;
    width: 100%;
    text-decoration: none;
    font-family: bebas-neue;
    font-size: 20px;
}
.review-texto{
    padding: 5px;
    text-align: center;
    font-size: 18px;

}

/*Creaciones-section*/

.creaciones-container{
    background-image: url(../assets/img/fondos/promo1.png);
    background-size: cover;
    background-position: center;
    height: 600px;
    width: 70%;
    margin: auto;
    border: 1px solid #F4A300;
    margin-bottom: 60px;
}
.creaciones-texto-container{
    height: 100%;
    width: 400px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.creaciones-titulo{
    width: 400px;
    color: #960018;
    font-size: 60px;
    text-align: center;
    font-family: bebas-neue;
}
.creaciones-texto{
    width: 400px;
    color: #960018;
    font-size: 40px;
    text-align: center;
    font-family: lobster;
}
.creaciones-button{
    width: 200px;
    padding: 10px;
    margin: 0px auto;
    text-align: center;
    font-size: 25px;
    color: #fff;
    background-color: #960018;
    border-radius: 10px;
    font-family: bebas-neue;
}
/*Menu section*/
.gustos-container{
    width: 90%;
    background-color: #FAF4E3;
    margin: 25px auto;
    padding: 15px;
}
.gustos-container h3{
    font-family: lobster;
    font-size: 35px;
    margin: 10px;
}
.paty-gusto-nombre{
    text-decoration: underline;
    font-family: bebas-neue;
    font-size: 25px;
}

.menu-container{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-bottom: 50px;
}
.menu-lista{
    padding: 20px;
    background-color: #FAF4E3;
    height: 700px;
}
.menu-titulo{
    background-color: #960018;
    color: #FAF4E3;
    padding: 15px;
    width: 250px;
    font-size: 25px;
    font-family: bebas-neue;
}
.lista-menu-items{
    margin-top: 30px;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.lista-menu-items li{
    list-style: none;
    padding: 10px;
    background-color: #960018;
    font-size: 20px;
    width: 200px;
    /* font-weight: bold; hacela bold cuando tengo un hover*/
}
.lista-menu-items li a{
    font-family: bebas-neue;
    color: #FAF4E3;
}

/*PRODUCTOS-MENU SECTION*/

#productos-container{
    display: grid;
    grid-template-columns: repeat(3, 270px);
    grid-template-rows: auto;
    gap: 20px;
}
.producto-container{
    background-color: #FAF4E3;
    padding: 10px;
}
.card-paty-img{
    width: 100%;
    height: 100%;
}

.card-paty-img-container{
    width: 100%;
    height: 210px;
}

/*PRODUCTO CARRITO SECTION*/

.carrito-container{
    background-color: #FAF4E3;
    height: auto;
    width: 20%;
    padding: 15px;
}

.titulo-carrito{
    text-align: center;
    font-size: 50px;
    font-family: lobster;
}

#carro{
    margin-top: 30px;
    font-size: 17px;
    background-color: transparent;
    padding: 3px;
    margin: 20px auto;
}

.li-pedido{
    list-style: none;
    margin: 15px auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 5px;
    font-family: bebas-neue;
    font-size: 20px;
}

.quitar-del-carrito{
    width: 100%;
    color: #960018;
    background-color: transparent;
    border: 1px solid #960018;
    padding: 2px;
}

#total{
    text-align: center;
    width: 100%;
    margin-top: 10px;
    font-family: lobster;
    font-size: 35px;
}

#limpiar-carrito, #confirmar-pedidos{
    width: 100%;
    font-size: 17px;
    color: #960018;
    background-color: transparent;
    border: 1px solid #960018;
    padding: 3px;
    margin: 20px auto;
}


/*ABOUT-US Section*/
.nosotros-principal{
    background-image: url(../assets/img/nosotros/nosotros-principal.jpg);
    background-size: cover;
    background-position: center;
    height: 700px;
}
/*Nosotros-Section*/
.historia-section{
    width: 1200px;
    height: 700px;
    margin: 50px auto;
    background-color: #FAF4E3;
    padding: 50px;
    display: flex;
    justify-content: space-around;
}
.historia-section h2{
    font-size: 40px;
    text-align: center;
    /* padding-bottom: 15px; */
    font-family: bebas-neue;
}
.historia-img-container{
    width: 420px;
}
.historia-img{
    width: 420px;
    height: auto;
    position: absolute;
    z-index: 20;
    border-radius: 10px;
    border: 2px solid #F4A300;
}
.historia-img:hover{
    opacity: 0.2;   
}

.historia-img-container p{
    position: relative;
    z-index: 10;
    padding: 17px;
    font-size: 17px;
}
/*Formulario Section*/
.form-container{
    height: auto;
}
form{
    width: 400px;
    height: 97%;
    padding: 15px;
    background-color: #960018;
    border-radius: 15px;
}
form h2{
    color: #FAF4E3;
}
.part-form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.part-form label{
    margin-top: 15px;
    color: #FAF4E3;
    text-align: center;
    letter-spacing: 3px;
}
.part-form input{
    padding: 4px;
    background-color: #FAF4E3;
    border: none;

}
.text-area-container textarea{
    height: 125px;
    background-color: #FAF4E3;
}



/*Footer section*/
footer{
    background-color: #000;
}
.footer-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.img-footer{
    width: 200px;
}
.ul-footer{
    height: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}
.ul-container{
    display: flex;
    gap: 30px;
    margin: 20px;
}
.ul-footer li{
    list-style: none;
    font-size: 20px;
    text-align: center;
    width: 350px;
}
.ul-footer hr{
    margin: 0px;
    color: #FAF4E3;
}
.ul-footer li a{
    text-decoration: none;
    color: #FAF4E3;
    display: block;
}
.ul-footer-icon-container{
    display: flex;
    gap: 50px;
}
.ul-footer-icon{
    padding-left: 0;
    margin: auto;
}
.ul-footer-icon li{
    list-style: none;
    color: #FAF4E3;
    margin: 40px 0px 40px 0px;
}
.ul-footer-icon li a{
    color: #FAF4E3;
}


/*QUERI SECTION*/

@media screen and (max-width:1500px) {

    .grid-container-principal{
        width: 93%;
    }
    .grid-1{
        background-position: 60% 40%;
    }
    .review-container {
        width: 90%;
    }
    .creaciones-container {
        width: 90%;
    }
}

@media screen and (max-width:1200px) {
    .texto-fondo-principal{
        gap: 10px;
        padding: 30px 50px;
    }
    .screen-logo{
        width: 200px;
    }
    .screen-texto h1{
        width: auto;
        font-size: 90px;
    }
    .screen-texto p{
        font-size: 60px;
    }
    .screen-button{
        gap: 90px;
    }
    .screen-button p{
        width: 400px;
        font-size: 50px;
    }
}

@media screen and (max-width:1050px) {
    .banner-container{
        height: 700px;
    }
    .screen-logo{
        width: 190px;
    }
    .screen-texto h1{
        font-size: 75px;
    }
    .screen-texto p{
        font-size: 50px;
    }
    .screen-button{
        gap: 50px;
    }
    .grid-container-principal{
        grid-template-rows: auto 280px;
        gap: 10px;
    }
    
}
